.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Button.agumon {
  border-color: rgb(255, 0, 0);
  color: black;
  background: linear-gradient(45deg, rgb(245, 151, 28) 30%, rgb(231, 9, 9) 60%);
  margin: 10px;
}

Button.greymon {
  border-color: rgb(255, 0, 0);
  color: black;
  background: linear-gradient(45deg, rgb(245, 151, 28) 30%, rgb(231, 9, 9) 60%);
  margin: 10px;
}

Button.metalgreymon {
  border-color: rgb(255, 0, 0);
  color: black;
  background: linear-gradient(45deg, rgb(245, 151, 28) 30%, rgb(231, 9, 9) 60%);
  margin: 10px;
}

Button.wargreymon {
  border-color: rgb(255, 0, 0);
  color: black;
  background: linear-gradient(45deg, rgb(245, 151, 28) 30%, rgb(231, 9, 9) 60%);
  margin: 10px;
}

Button.gabumon{
  border-color: rgb(68, 0, 255);
  color: black;
  background: linear-gradient(45deg, rgb(34, 142, 204) 30%, rgb(240, 236, 28)   90%);
  margin: 10px;
}

Button.garurumon{
  border-color: rgb(68, 0, 255);
  color: black;
  background: linear-gradient(45deg, rgb(34, 142, 204) 30%, rgb(240, 236, 28)   90%);
  margin: 10px;
}

Button.weregarurumon{
  border-color: rgb(68, 0, 255);
  color: black;
  background: linear-gradient(45deg, rgb(34, 142, 204) 30%, rgb(240, 236, 28)   90%);
  margin: 10px;
}

Button.metalgarurumon{
  border-color: rgb(68, 0, 255);
  color: black;
  background: linear-gradient(45deg, rgb(34, 142, 204) 30%, rgb(240, 236, 28)   90%);
  margin: 10px;
}



Button.biyomon{
  border-color: rgb(250, 148, 199);
  color: black;
  background: linear-gradient(45deg, rgb(250, 148, 199) 30%,  rgb(15, 35, 214)90%);
  margin: 10px;
}

Button.birdramon{
  border-color: rgb(250, 148, 199);
  color: black;
  background: linear-gradient(45deg, rgb(250, 148, 199) 30%,  rgb(15, 35, 214)90%);
  margin: 10px;
}

Button.garudamon{
  border-color: rgb(250, 148, 199);
  color: black;
  background: linear-gradient(45deg, rgb(250, 148, 199) 30%,  rgb(15, 35, 214)90%);
  margin: 10px;
}

Button.phoenixmon{
  border-color: rgb(250, 148, 199);
  color: black;
  background: linear-gradient(45deg, rgb(250, 148, 199) 30%,  rgb(15, 35, 214)90%);
  margin: 10px;
}

Button.palmon{
  border-color: rgb(224, 52, 138);
  color: black;
  background: linear-gradient(45deg, rgb(224, 52, 138) 30%,  rgb(15, 214, 15)90%);
  margin: 10px;
}

Button.togemon{
  border-color: rgb(224, 52, 138);
  color: black;
  background: linear-gradient(45deg, rgb(224, 52, 138) 30%,  rgb(15, 214, 15)90%);
  margin: 10px;
}

Button.lillymon{
  border-color: rgb(224, 52, 138);
  color: black;
  background: linear-gradient(45deg, rgb(224, 52, 138) 30%,  rgb(15, 214, 15)90%);
  margin: 10px;
}

Button.rosemon{
  border-color: rgb(224, 52, 138);
  color: black;
  background: linear-gradient(45deg, rgb(224, 52, 138) 30%,  rgb(15, 214, 15)90%);
  margin: 10px;
}



Button.patamon{
  border-color: rgb(5, 34, 161);
  color: black;
  background: linear-gradient(45deg, rgb(43, 123, 243) 30%,  rgb(201, 122, 18)90%);
  margin: 10px;
}

Button.angemon{
  border-color: rgb(5, 34, 161);
  color: black;
  background: linear-gradient(45deg, rgb(43, 123, 243) 30%,  rgb(201, 122, 18)90%);
  margin: 10px;
}

Button.magnaangemon{
  border-color: rgb(5, 34, 161);
  color: black;
  background: linear-gradient(45deg, rgb(43, 123, 243) 30%,  rgb(201, 122, 18)90%);
  margin: 10px;
}

Button.seraphimon{
  border-color: rgb(5, 34, 161);
  color: black;
  background: linear-gradient(45deg, rgb(43, 123, 243) 30%,  rgb(201, 122, 18)90%);
  margin: 10px;
}

Button.gomamon{
  border-color: rgb(248, 247, 245);
  color: black;
  background: linear-gradient(45deg, rgb(47, 128, 182) 30%,  rgb(249, 252, 253)90%);
  margin: 10px;
}

Button.ikkakumon{
  border-color: rgb(248, 247, 245);
  color: black;
  background: linear-gradient(45deg, rgb(47, 128, 182) 30%,  rgb(249, 252, 253)90%);
  margin: 10px;
}

Button.zudomon{
  border-color: rgb(248, 247, 245);
  color: black;
  background: linear-gradient(45deg, rgb(47, 128, 182) 30%,  rgb(249, 252, 253)90%);
  margin: 10px;
}

Button.vikemon{
  border-color: rgb(248, 247, 245);
  color: black;
  background: linear-gradient(45deg, rgb(47, 128, 182) 30%,  rgb(249, 252, 253)90%);
  margin: 10px;
}

Button.tentomon{
  border-color: rgb(19, 197, 87);
  color: black;
  background: linear-gradient(45deg, rgb(246, 20, 51) 30%,  rgb(15, 214, 148)90%);
  margin: 10px;
}

Button.kabuterimon{
  border-color: rgb(19, 197, 87);
  color: black;
  background: linear-gradient(45deg, rgb(246, 20, 51) 30%,  rgb(15, 214, 148)90%);
  margin: 10px;
}

Button.megakabuterimon{
  border-color: rgb(19, 197, 87);
  color: black;
  background: linear-gradient(45deg, rgb(246, 20, 51) 30%,  rgb(15, 214, 148)90%);
  margin: 10px;
}
Button.herculeskabuterimon{
  border-color: rgb(19, 197, 87);
  color: black;
  background: linear-gradient(45deg, rgb(246, 20, 51) 30%,  rgb(15, 214, 148)90%);
  margin: 10px;
}

Button.salamon{
  border-color: rgb(250, 148, 199);
  color: black;
  background: linear-gradient(45deg, rgb(223, 169, 215) 30%,  rgb(238, 224, 103)90%);
  margin: 10px;
}

Button.gatomon{
  border-color: rgb(250, 148, 199);
  color: black;
  background: linear-gradient(45deg, rgb(223, 169, 215) 30%,  rgb(238, 224, 103)90%);
  margin: 10px;
}

Button.angewomon{
  border-color: rgb(250, 148, 199);
  color: black;
  background: linear-gradient(45deg, rgb(223, 169, 215) 30%,  rgb(238, 224, 103)90%);
  margin: 10px;
}

Button.ophanimon{
  border-color: rgb(250, 148, 199);
  color: black;
  background: linear-gradient(45deg, rgb(223, 169, 215) 30%,  rgb(238, 224, 103)90%);
  margin: 10px;
}







.team{
  background-image: url(https://exitgenjutsu.files.wordpress.com/2015/05/digi-header1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  height: auto;
  width: 1500px;
}

.home{
  background-image: url(https://exitgenjutsu.files.wordpress.com/2015/05/digi-header1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  height: auto;
  width: 1500px;
}

/* .login{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTgq9JMnRXRrb2HXy-T9h6dMvxHDAxyrEHH4gVOMWsWvupaJrhC&usqp=CAU);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
} */


.game{
  background-image: url(https://www.wallpapermaiden.com/image/2017/05/14/sci-fi-world-destruction-virtual-city-fantasy-15807.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  height: 1000px;
}
.player {
  width: 240px;
  height: 180px;
  margin: 50px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}

/* .weaponBtn {
  width: 100px;
  height: 50px;
  display: inline;
  margin: auto 15px;
  color: #fff;
  font-size: 18px;
  border-radius: 25px;
  background: #000;
} */

.player:nth-child(2) {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.winner {
  width: 100px;
  height: 55px;
  margin: 10px auto;
  color: brown;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.player-image {
  height: 200px;
  width: auto;
}
/* button {
  width: 200px;
  height: 50px;
  display: block;
  margin: 10px auto;
  color: #fff;
  font-size: 18px;
  border-radius: 25px;
  background: #000;
  outline: none;
} */

button:hover {
  cursor: pointer;
}


